{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Rewear App</title>
<link rel="icon" href="/static/images/ICON.png" sizes="32x32" type="images/png"/>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>


<body style="background-color:#E2FCFF">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/rewear_logo.png' %}" class="img-fluid" alt="Brand logo that links to homepage">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
              <a class="btn btn-primary" href="{% url 'posts' %}">Posts</a>
        </li>
    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
    </form>
    </div>


</nav>


<!-- add block content from html template -->
{% block content %}


{% endblock %}
</body>
</html>