<!-- inherit from base.html -->
{% extends 'rewear_app/base_template.html' %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>New Posts</h1>

{% for post in active_posts %}


<div class="container-fluid">  
    <div class = "row">
    <div class ="col">
    <p> {{ post.title }}
    <a class="btn btn-primary" href="{{ post.get_absolute_url }}" role="button">View</a><p></p>
    <img src="{{ post.image.url }}" class="img-responsive" style='height: 50%; width: 50%; object-fit: contain' alt="Image of clothing"/>
</div>



{% endfor %}
{% endblock %}

<!-- Random Conetent for testing


<ul class="list-group">
<div class="d-flex align-content-around flex-wrap">
</div>



-->